
/*#flash-messages
{
    margin-left: auto;
    margin-right: auto;
}*/

p
{
    width: 100%;
}

/* Animated underline */
*:not(.meta):not(.menu) > a:not(.button)
{
    position: relative;
}
*:not(.meta):not(.menu) > a:not(.button)::before
{
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4183C4;
    content: '';
    -webkit-transition: all 0.2s;
            transition: all 0.2s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
}
*:not(.meta):not(.menu) > a:not(.button):hover::before
{
    background-color: #2C76BF;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
}

#brand-tag-line::before
{
    background: none;
}

legend
{
    border-bottom: 1px solid #AAA;
    margin-bottom: 12px;
}

/*.ui.avatar.image,
.ui.avatar.image img,
.ui.avatar.images img,
.ui.avatar.image svg,
.ui.avatar.images svg,
.ui.avatar.images .image
{
    margin-right: 0.25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 0;
}*/

.work-item .ui.ribbon.label
{
    left: calc(-0.5rem - 0.6em);
}
.work-item .meta .ui.ribbon.label
{
    width: 124px;
}

/*.ui.items > .item.work-item .meta .label*/
.work-item .meta .label
{
    margin-right: -6px !important;
}
/*.ui.items > .item.work-item .meta *:not(.label)*/
.work-item .meta *:not(.label)
{
    border-bottom: 1px dotted #444;
}
/*.ui.items > .item.work-item .meta *:not(.label):not(:last-child)*/
.work-item .meta *:not(.label):not(:last-child)
{
    margin-right: 6px;
}
/*.ui.items > .item.work-item .meta *:not(.label):not(:last-child)::after*/
.work-item .meta *:not(.label):not(:last-child)::after
{
    content: ",";
}

#tumblr-stuff
{
    position: relative;
    color: inherit;
}
#tumblr-stuff header.header
{
    /*display: inline-block;*/
    position: absolute;
    top: 9px;
    right: 12px;
    margin-top: 0 !important;
}
#tumblr-stuff label
{
    margin-top: 30px;
    font-weight: bold;
    display: block;
}
#tumblr-stuff label + ul
{
    margin-top: 0;
}
#tumblr-stuff .attached.label
{
    font-size: 1rem;
}
#tumblr-stuff ul
{
    padding-left: 20px;
}
#tumblr-stuff li > a:not(.ui)
{
    color: #4183C4;
}

#user-show
{
    width: 100%;
}

#user-card
{
    width: 268px;
}

#user-work-list
{
    width: calc(100% - 268px);
}
#user-work-list h2
{
    display: inline-block;
}
