<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}[Inspired]{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}">  
</head>
<body>

  {% block content %}
    This is where shit would go if you hadn't done something totally wrong.
  {% endblock %}

  <script src="//code.jquery.com/jquery.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>

  <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}"></script>

</body>
</html>
