{% extends "layout.html" %}

{% block title %}Log In {{ super() }}{% endblock %}

{% block content %}

<form action="/login" method="post" class="ui form ten wide column">
  <legend><h3>Log In</h3></legend>
  <div class="field">
    <label>E-mail:</label>
    <input name="email" type="email" placeholder="ook@ook.ook">
  </div>
  <div class="field">
    <label>Password:</label>
    <input name="password" type="password" placeholder="There's just no trust in the world">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
    
{% endblock %}
