{% extends "layout.html" %}

{% block title %}Your Dashboard {{ super() }}{% endblock %}

{% block content %}

<article class="ui horizontal segments">
  <div class="left aligned six wide column ui segment card">
    <div class="content">
      {# <img class="right floated mini ui image" src="{{ url_for('static', filename='img/square-image.png') }}"> #}
      <h1>
        {{ user.name }}
      </h1>
      <img class="ui image" src="{{ url_for('static', filename='img/square-image.png') }}">
      <div class="meta">
        Number of stories written and shit.
      </div>
      <div class="description">
        {{ user.about }}
      </div>
    </div>
    
    {% if tumblr_info.user %}
    {# Showing Tumblr stuff #}
      <div id="tumblr-stuff" class="extra content">
        <div class="ui top left attached blue label">
          <i class="fa fa-tumblr"></i> Tumblr
        </div>
        <header class="header">
           {{ tumblr_info.user.name }}
        </header>
        <label>Blog(s)</label>
        <ul class="list">
          {% for blog in tumblr_info.user.blogs %}
            <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% elif user == current_user %}
      {% if tumblr_info.meta and tumblr_info.meta.msg and tumblr_info.meta.msg == "Not Authorized" %}
      {# Showing Tumblr error message. #}
        <div class="ui bottom attached error message">
          <i class="fa fa-tumblr"></i>
          Unable to access your Tumblr account.
        </div>
      {% else %}
      {# Showing button to initiate Tumblr oAuth #}
        <a class="ui bottom attached button" href="{{ tumblr_info.oauth_url }}">
          <i class="fa fa-tumblr-square"></i> Add Tumblr Account
        </a>
      {% endif %}
    {% endif %}
  </div>
  
  <div class="left aligned ten wide column ui segment">
    <h2>Works by {{ user.name }}</h2>
    <div class="ui divided items">
      <article class="item work-item">
        <div class="ui tiny image">
          <img src="{{ url_for('static', filename='img/square-image.png') }}" alt="thumbnail">
        </div>
        <div class="content">
          <header class="header"><a class="work-link">Work Title</a></header>
          <div class="meta">
            <label class="ui red ribbon label">Characters</label>
            <a>Elsa</a> <a>Anna</a> <a>Kristoff</a>
          </div>
          <div class="meta">
            <label class="ui red ribbon label">Relationship(s)</label>
            <a>Elsa x Anna</a>
            <a>Anna x Kristoff (bromance)</a>
          </div>
          <div class="description">
            Summary summary summary summary summary summary summary summary summary summary summary summary summary.
          </div>
          <div class="extra">
            Word Count | Chapters | Etc.
          </div>
        </div>
      </article>
      <article class="item work-item">
        <div class="ui tiny image">
          <img src="{{ url_for('static', filename='img/square-image.png') }}" alt="thumbnail">
        </div>
        <div class="content">
          <header class="header"><a class="work-link">Work Title</a></header>
          <div class="meta">
            <label class="ui red ribbon label">Characters</label>
            <a>Elsa</a> <a>Anna</a> <a>Kristoff</a>
          </div>
          <div class="meta">
            <label class="ui red ribbon label">Relationship(s)</label>
            <a>Elsa x Anna</a>
            <a>Anna x Kristoff (bromance)</a>
          </div>
          <div class="description">
            Summary summary summary summary summary summary summary summary summary summary summary summary summary.
          </div>
          <div class="extra">
            Word Count | Chapters | Etc.
          </div>
        </div>
      </article>
    </div>
  </div>
</article>

{% endblock %}
