{% extends "layout.html" %}

{% block title %}{{ "Your" if user == current_user else user.name+"'s" }} Dashboard {{ super() }}{% endblock %}

{% block content %}

<article id="user-show" class="ui horizontal segments">
  <div id="user-card" class="left aligned column ui segment card">
    <div class="content">
      {# <img class="right floated mini ui image" src="{{ url_for('static', filename='img/square-image.png') }}"> #}
      <h1>
        {{ user.name|e }}
      </h1>
      <img class="ui image" src="{{ url_for('static', filename='img/square-image.png') }}">
      <div class="meta">
        Has contributed {{ user.works|length }} works.
      </div>
      <div class="description">
        {{ user.about|safe }}
      </div>
    
    {% if tumblr_info.user %}
    {# Showing Tumblr stuff #}
      <div id="tumblr-stuff"> {# class="extra content"> #}
        <h5 class="ui horizontal divider header">
          <i class="fa fa-tumblr-square"></i> Tumblr
        </h5>
        {# <div class="ui top left attached blue label">
          <i class="fa fa-tumblr"></i> Tumblr
        </div> #}
        <h4 class="header tumblr-name">
           {{ tumblr_info.user.name }}
        </h4>
        <label>Blog(s)</label>
        <ul class="list">
          {% for blog in tumblr_info.user.blogs %}
            <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% elif user == current_user %}
      {% if tumblr_info.meta and tumblr_info.meta.msg and tumblr_info.meta.msg == "Not Authorized" %}
      {# Showing Tumblr error message. #}
        <div class="ui bottom attached error message">
          <i class="fa fa-tumblr"></i>
          Unable to access your Tumblr account.
        </div>
      {% else %}
      {# Showing button to initiate Tumblr oAuth #}
        <a class="ui bottom attached button" href="{{ tumblr_info.oauth_url }}">
          <i class="fa fa-tumblr-square"></i> Add Tumblr Account
        </a>
      {% endif %}
    {% endif %}
    </div>
  </div>
  
  
  <div id="user-work-list" class="left aligned column ui segment">
    <h2>Works by {{ user.name|e }}</h2>
    {% if user == current_user %}<a class="new-work-button right floated ui red button" href="{{ url_for('new_work') }}"><i class="fa fa-plus"></i> New Work</a>{% endif %}
    {% with works = user.works %}
    {% include 'work/_work_list.html' %}
    {% endwith %}
  </div>
</article>

{% endblock %}
