        <div class="ui tiny image">
          <img src="{{ url_for('static', filename='img/square-image.png') }}" alt="thumbnail">
        </div>
        <div class="content">
          <header class="header"><a class="work-link" href="/work/{{ work.id }}/1">{{ work.title|e }}</a></header>
          <span class="attribution">by <a href="/user/{{ work.author.id }}">{{ work.author.name|e }}</a></span>
          {% if current_user == work.author %}
            <a class="right floated ui red button" href="/work/{{ work.id }}/add"><i class="fa fa-plus"></i> Add Chapter</a>
          {% endif %}
          <div class="meta">
            <label class="ui red ribbon label">Fandom(s)</label>
            {% for fandom in work.fandom_tags %}
              <a>{{ fandom|e }}</a>
            {% endfor %}
          </div>
          <div class="meta">
            <label class="ui red ribbon label">Content</label>
            {% for content in work.content_tags %}
              <a>{{ content|e }}</a>
            {% endfor %}
          </div>
          <div class="meta">
            <label class="ui red ribbon label">Characters</label>
            {% for char in work.char_tags %}
              <a>{{ char|e }}</a>
            {% endfor %}
          </div>
          <div class="meta">
            <label class="ui red ribbon label">Relationship(s)</label>
            {% for ship in work.ship_tags %}
              <a>{{ ship|e }}</a>
            {% endfor %}
          </div>
          <p class="description">
            {{ work.summary|safe }}
          </p>
          <div class="extra content">
            Word Count 9001 | Chapters {{ work.chapters|length }} | Etc.
          </div>
        </div>