{% extends "layout.html" %}

{% block title %}Add Chapter {{ super() }}{% endblock %}

{% block content %}

<form id="add-chapter-form" action="/work/{{ work.id }}/add" method="post" class="ui form ten wide column">
  <legend><h3>Add Chapter to {{ work.title }}</h3></legend>
  
  {% if tumblr %}
    <a id="tumblr-import-bttn" class="ui violet loading button"><i class="fa fa-tumblr"></i> Import from Tumblr</a>
    <div id="tumblr-import-pane" class="collapsed ui">
      <div class="ui segment import-list-container">
        <ul id="import-list">
          {# jQuery shalt handle the rest #}
        </ul>
      </div>
    </div>
  {% endif %}
  
  <div class="field">
    <label>Title:</label>
    <input name="title" id="title-box" type="text" placeholder="You can judge everything by a story's name">
  </div>
  <div class="field">
    <label>Numeral:</label>
    <input name="numeral" type="text" placeholder="Chapter numbers in order? Totally optional." value="{{ default_numeral }}">
  </div>
  <div class="field">
    <label>Body:</label>
    <textarea name="body" id="body-box" placeholder="One day, on the way to the crematorium..."></textarea>
  </div>
  <button class="ui blue button" type="submit">Submit</button>
</form>

{% endblock %}
