{% extends "layout.html" %}

{% block title %}{{ work.title|e }} &sup; {{ chapter.numeral|e }} {{ super() }}{% endblock %}

{% block content %}

<article class="ui segments">
  <div class="left aligned sixteen wide column ui segment">
    {% include 'work/_work_info.html' %}
  </div>
  
  <div class="left aligned sixteen wide column ui segment">
    <h3><span class="ch-numeral">{{ chapter.numeral|e }}</span> <span class="ch-title">{{ chapter.title|e }}</span></h3>
    <div class="chapter-body">
      {{ chapter.body }}
    </div>
  </div>
</article>

{% endblock %}
